@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html {
  height: 100%;
}

body {
  background-color: #f1f6f9;
  color: #212a3e;
  height: 100%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.separator {
  width: 1px;
  background-color: rgb(228, 226, 228);
  margin: 0px 10px;
}
